* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
}

header {
    background-color: blueviolet;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

main {
    display: flex;
}

.conteiner {
    max-width: 900px;
    padding: 0 1.5em;
}

.sessao-conteudo {
    margin: 1em;
}

.items-loja {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.item-loja {
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 3px;
    text-transform: uppercase;
}

.item-titulo {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.item-imagem {
    width: 250px;
    height: 150px;
}

.item-detalhes {
    display: flex;
    align-items: center;
    padding: 5px;
}

.item-preco {
    flex-grow: 1;
    color: #333;
}

.btn {
    text-align: center;
    vertical-align: middle;
    padding: .67em .67em;
    cursor: pointer;
    margin: 5px;
}

.btn-primary {
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.carrinho div {
    display: flex;
}

.carrinho .carrinho-items {
    flex-direction: column;
}

.carrinho-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.carrinho-coluna {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.carrinho-item {
    width: 45%;
}

.carrinho-preco {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.carrinho-quantidade {
    width: 35%;
}

.carrinho-imagem {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.carrinho-total {
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

.total-titulo {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.preco-total {
    color: #333;
    font-size: 1.1em;
}

.button-enviar {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
}

.item-flex {
    display: flex;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    margin-left: 5px;
}

.carrinho img {
    margin-right: 5px;
}